<h1>Garden Tips</h1>

<div>
  {{#each gardenTips as |gardenTip| }}
  
  <h2><a href="/{{gardenTip.id}}">{{gardenTip.name}}</a></h2>
  {{/each}}
</div>

<a href="/new" class="boo">Create New Garden Tip</a>