<h1>Garden Tips</h1>

<div>
  {{#each gardenTips as |GardenTip| }}
  
  <h2><a href="/{{GardenTip.id}}">{{GardenTip.name}}</a></h2>
  {{/each}}
</div>

<a href="/new" class="boo">Create New Garden Tip</a>