<header>
  <h1>Garden Tips</h1>
</header>

<div>
  {{!-- <input type="text" placeholder="Search Tips Here">
  <button type="submit" placeholder="Submit"></button> --}}
  {{#each GardenTips as |GardenTips| }}

  <h2><a href="/{{GardenTips.id}}">{{GardenTips.name}}
    </a></h2>

  {{/each}}
</div>

<button><a href="/new" class="boo">Create New Garden Tip</a></button>
<br></br>

<footer>Made with Love &hearts; by Eleni-Maria Designs
  <br></br>
  <a href="https://www.instagram.com/eleni_maria_designs/">Follow EM Designs on Instagram</a>
  <br></br>
  <a href="https://elenimariadesigns.imgur.com/all/">Also check out some of my garden pictures on imgur</a>

</footer>