<h1>Garden Tips</h1>

<div>
  {{#each GardenTips as |GardenTips| }}
  
  <h2><a href="/{{GardenTips.id}}">{{GardenTips.name}}</a></h2>
  {{/each}}
</div>

<a href="/new" class="boo">Create New Garden Tip</a>