<h2>New Garden Tip:</h2>

<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>Title:</label>
    <input type="text" name="title"/>
  </br>
    <label>Description:</label>
    <input type="text" name="description"/>
  </br>
    <label>Plants:</label>
    <input type="text" name="ingredients"/>
  </br>
    <label>Instructions:</label>
    <input type="text" name="instructions"/>
  </br>
    <label>Author:</label>
    <input type="text" name="author"/>
  </br>
  </p>
  <input type="submit" value="Create" />
</form>