{{!-- view template --}}

<h2>New Garden Tip:</h2>

<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>Name:</label>
    <input type="text" name="name" />
    </br>
    <label>Description:</label>
    <input type="text" name="description" />
    </br>
    <label>URL Link:</label>
    <input type="text" name="url" />
    </br>
    <label>Search Tags:</label>
    <input type="text" name="tags" />
    </br>
    <label>Author:</label>
    <input type="text" name="author" />
    </br>
    <label>Picture:</label>
    <input type="text" name="picture" />
    </br>
  </p>
  <input type="submit" value="Create" />
</form>