/* font-family: 'Berkshire Swash', cursive;
font-family: 'PT Mono', monospace; */

body {
  background-color: #b6b5b2;
}

h1,
h2 {
  font-family: 'Berkshire Swash', cursive;
 
}

p,
a {
  font-family: 'PT Mono', monospace;
  color: white;
  text-decoration: none;
}

.boo {
  font-family: 'PT Mono', monospace;
  color: green;
  text-decoration: underline;
}

img {
  max-width: 300px;
  height: auto;
}
